
.product_text{
    font-size: 40px;
    text-decoration: underline;
}
.product_items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;  
}
.product_items-outer{
    width:full;
    height:full;
    border:2px solid  #000 ;
    border-radius: 20px;
    box-shadow:0.5px  1px red;
}
/*
.filter_product_page{
   color: red;
   background-color: black;
   padding: 10px;
   display: grid;
   padding-top: 1.75rem;
   padding-bottom: 1.75rem; 
   grid-template-columns: repeat(4, minmax(0, 1fr)); 
   gap: 3rem; 
   justify-items: center;
}*/
.filterProducts_buttons{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    margin: 10px 0px 20px;
    
}
.filter_button{
    display: flex;
    align-items: center;
}
.buttons{
    width:120px;
    border:2px solid black;
    margin: 0px 10px;
    color:white;
    background-color: black;
    border-radius: 7px;
    
}
.buttons:hover{
    color:black;
    background-color: red;
    border: solid red;
    outline: none;
}

.clear_buttons{
    position: absolute;
    right: 20px;
    width: 120px;
    color:black;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.clear_buttons:hover{
    background-color:black;
    color: red;
    border: solid black;
    outline: none;
}
.color_color{
    width: 120px;
    border:2px solid red;
    z-index: 1;
    position: absolute;
    margin:2px 0 0 10px;
    padding-left: 10px;
    justify-content: center;
    display: none;
    border-radius: 7px;
}
.color_item:hover .color_color{
    display: block;
    background-color:#f1f1f1;
}
.size_size{
    width: 120px;
    border:2px solid red;
    z-index: 1;
    position: absolute;
    margin:2px 0 0 10px;
    padding-left: 10px;
    justify-content: center;
    display: none;
    border-radius: 7px;
}
.size_item:hover .size_size{
    display: block;
    background-color:#f1f1f1;
}


/* try with onclick function
.filterProducts_buttons{
    visibility: hidden;
}

.product_text:hover .filterProducts_buttons{
    visibility: visible;
}*/