*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigate_listitems{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    align-items:center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.navigate_button{
    width: 120px;
    height: 40px;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    
}
.navigate_button:hover{
    color: black;
    background-color: white;
    transition-duration: 2s;
    border: none;
}
.navbar_sale{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_text{
    display: flex;
    color: green;
    background-color: black;
    width: 500px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
    margin: 10px;
}
.navbar_text:hover{
    color: #fff;
    transition-duration:2s;
    background-color:green;
    cursor: pointer;
}
.navbar_clothes{
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 10px;
   
}
.navbar_clothes_img{
   width: 70%;
   height: 500px;
}